/* 
1. Đổ bóng khối

box-shadow: h-offset v-offset blur spread color

2. Đổ bóng chữ

test-shadow: h-offset v-offset color
*/

.box {
  width: 200px;
  height: 200px;
  background: green;
  margin: 30px auto;
  box-shadow: 5px 5px 5px red inset, 10px 10px 5px blueviolet,
    15px 15px 5px plum;
}

h2 {
  font-size: 50px;
  text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black,
    -1px -1px 1px black;
  text-align: center;
  color: white;
}
