.container {
  --container-width: 1440px;
}

$breakpoints: (
  sm: 576,
  md: 768,
  lg: 992,
  xl: 1200,
  xxl: 1400,
);

@mixin display($name: "") {
  $prefix: "d-";

  @if ($name != "") {
    $prefix: $prefix + $name + "-";
  }

  .#{$prefix}none {
    display: none;
  }

  .#{$prefix}block {
    display: block;
  }
}

@include display();

@each $name, $breakpoint in $breakpoints {
  @media screen and (min-width: #{$breakpoint}px) {
    @include display($name);
  }
}
