/*
p {
  color: pink;
  font-size: large;
}


h2 {
  color: yellow;
  background: rgb(249, 97, 97);
}



#title {
  color: red;
}


.title {
  color: green;
}


h3 {
  color: burlywood;
}


* {
  color: red;
}



#box .title {
  color: red;
}

.wrapper .title {
  color: green;
}
*/

.box > .title {
  color: green;
}

body ul ul a {
  color: red;
}
