* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0px auto;
  padding: 0px;
  background: #f9f9f9;
}

header {
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
  /* background: #f9f9f9; */
}

a {
  text-decoration: none;
}

.wrap {
  margin: 50px 110px;
  align-items: center;
  width: 85%;
  font-size: 1.5rem;
  font-weight: 500;
  height: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

.wrap_menu .wrap_menu_list {
  display: flex;
  text-transform: capitalize;
  font-size: 1.5rem;
  justify-content: center;
}

.wrap_menu {
  /* border: 1px solid red; */
  margin-left: 150px;
}

.wrap_menu_list li {
  margin: 0px 20px;
  list-style: none;
}

.wrap_menu_list li a {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.wrap_menu_list li a:hover {
  color: #f54748;
}

.wrap_search {
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  position: relative;
}

.wrap_search_form {
  display: flex;
}

.wrap_search .wrap_search_form input::placeholder {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}

.wrap_search .wrap_search_form input:focus::placeholder {
  transition: 0.3s;
  opacity: 0;
}

.fa-magnifying-glass {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #929292;
}

.fa-cart-shopping {
  display: block;
  position: absolute;
  font-size: 2rem;
  top: 8px;
  right: 15px;
  color: #4d4d4d;
  height: 100%;
  display: flex;
  align-items: center;
}

.icon_shopping_cart::before {
  content: "";
  width: 2px;
  height: 70%;
  background: #f3f3f3;
  position: absolute;
  right: 45px;
  top: 5px;
}

.icon_shopping_cart::after {
  position: absolute;
  content: "2";
  width: 27px;
  height: 27px;
  top: -17px;
  right: -7px;
  font-size: 1.5rem;
  background-color: #f86061;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.wrap_search_form input {
  border: none;
  outline: none;
  padding: 10px 55px 10px 40px;
  background: #fff;
  border-radius: 5px;
  color: black;
}

.order {
  display: flex;
}

.strawberry_brand {
  width: 190px;
  height: 50px;
  display: flex;
  align-items: center;
  background: #fdecec;
  border-radius: 50px;
}

.title_strawberry {
  font-size: 1.5rem;
  margin: 50px 15px;
}

.content {
  margin-top: 40px;
  width: 100%;
  /* border: 1px solid red; */
}

.title {
  margin-bottom: 20px;
  font-size: 7rem;
}

.spec {
  color: #f54748;
}

.describe {
  word-spacing: 2px;
  width: 85%;
  font-size: 2rem;
  color: #676767;
}

.order_btn {
  margin-top: 40px;
  display: flex;
  width: 80%;
  /* border: 1px solid red; */
}

.btn_order_now {
  width: 170px;
  height: 70px;
  border: 1px solid #f86061;
  display: flex;
  border-radius: 10px;
  background: #f86061;
  cursor: pointer;
}

.path_format {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 700;
  margin: 22px auto;
  color: white;
}

.btn_order_now:hover {
  transition: 0.5s;
  background: white;
  /* border: 1px solid red; */
}

.btn_order_now:hover .path_format {
  color: #f86061;
  transition: 0.5s;
}

.icon_btn {
  margin: 0px 40px;
}

.btn_order_process {
  width: 150px;
  height: 70px;
  /* border: 1px solid red; */
  display: flex;
}

.btn_order_process span {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 540;
  margin: 22px 0px;
  color: #2e2e2e;
}

.describe_image img {
  width: 90%;
  height: auto;
  /* border: 1px solid red; */
  margin-top: 70px;
}

.ship {
  align-items: center;
  width: 100%;
  height: auto;
  background: #fef5f5;
  border: 1px solid #fef5f5;
}

.serve {
  /* border: 1px solid red; */
  width: 45%;
  height: auto;
  margin: 140px auto 0 auto;
  text-align: center;
}

.ship .serve h4 {
  color: #f54748;
  font-size: 2rem;
  font-weight: 200;
}

.ship .serve h2 {
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 4rem;
  font-weight: 800;
  color: #2e2e2e;
}

.serve_form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.serve_form_box {
  width: 70%;
  padding: 60px 20px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.box_product {
  background: #ffffff;
  width: calc(100% / 3);
  height: auto;
  padding: 50px 20px;
  text-align: center;
  border-radius: 15px;
  margin: 30px;
  line-height: 1.6;
  position: relative;
}

.product_icon img {
  width: 45%;
  height: 100px;
  position: relative;
  z-index: 1;
}

.box_product h3 {
  margin-top: 40px;
  font-size: 2rem;
  position: relative;
  z-index: 1;
}

.box_product p {
  color: #676767;
  margin-top: 20px;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
}

.box_product::before {
  content: "";
  position: absolute;
  background: #f86061;
  top: 0px;
  left: 10px;
  width: 100%;
  height: 102%;
  border-radius: 15px;
  transition: all 0.3s linear;
  transform-origin: 50% top;
  opacity: 0;
}

.box_product:hover::before {
  transform: rotate(-4deg) scale(100%, 103%);
  opacity: 1;
}

.box_product::after {
  content: "";
  position: absolute;
  background: #fff;
  inset: 0;
  border-radius: 10px;
}

.container_explore {
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
}

.wrap_explore {
  margin: 50px 110px;
  width: 85%;
  font-size: 1.5rem;
  font-weight: 500;
  height: auto;
  /* border: 1px solid red; */
  display: flex;
}

.explore_image img {
  /* border: 1px solid red; */
  width: 100%;
  height: 710px;
}

.explore_info {
  width: 30%;
  height: auto;
  /* border: 1px solid red; */
  margin-top: 170px;
}

.explore_info h4 {
  color: #03a66b;
  font-size: 2rem;
  font-weight: 540;
}

.explore_info h2 {
  margin-top: 10px;
  font-size: 4rem;
}

.explore_info p {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 2rem;
  color: #676767;
}

.wrap_delivery {
  margin: 50px 110px;
  width: 85%;
  font-size: 1.5rem;
  font-weight: 500;
  height: auto;
  /* border: 1px solid red; */
  display: flex;
}

.delivery_info {
  width: 40%;
  height: auto;
  /* border: 1px solid red; */
  margin-top: 180px;
}

.delivery_image img {
  /* border: 1px solid red; */
  width: 100%;
  height: 710px;
  margin-left: 70px;
}

.delivery_info h4 {
  color: #f9ba45;
  font-size: 2rem;
  font-weight: 540;
}

.delivery_info h2 {
  margin-top: 10px;
  font-size: 4rem;
}

.delivery_info p {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 2rem;
  color: #676767;
}

.app {
  width: 100%;
  height: auto;
  border: 1px solid #fef5f5;
  background: #fef5f5;
}

.app_content {
  width: 65%;
  height: auto;
  /* border: 1px solid red; */
  margin: 100px auto;
  display: flex;
}

/* .app_content_left img {
  border: 1px solid red;
} */

.app_content_right {
  width: 50%;
  /* border: 1px solid red; */
  margin-top: 80px;
  margin-left: 160px;
}

.app_content_right h4 {
  color: #f54748;
  font-size: 2rem;
  font-weight: 540;
}

.app_content_right h2 {
  margin-top: 10px;
  font-size: 4rem;
}

.app_content_right p {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 2rem;
  color: #676767;
}

.btn_store {
  display: flex;
}

.icon_app {
  width: 210px;
  height: 70px;
  border: 1px solid #eedcdc;
  border-radius: 15px;
  position: relative;
  margin-right: 12px;
}

.icon_app img {
  position: absolute;
  top: 12px;
  left: 30px;
  cursor: pointer;
}

.icon_app a {
  text-transform: capitalize;
  font-size: 1.8rem;
  position: absolute;
  top: 25px;
  left: 95px;
  color: black;
  font-weight: 600;
}

footer {
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
}

.footer_grover {
  margin: 100px 110px;
  width: 85%;
  height: auto;
  /* border: 1px solid red; */
  display: flex;
}

.grover_footer {
  width: 25%;
  height: 100%;
  /* border: 1px solid red; */
}

.grover_footer p {
  font-size: 1.8rem;
  color: #676767;
  margin-top: 25px;
  line-height: 27px;
}

.company {
  width: 12%;
  height: auto;
  /* border: 1px solid red; */
  margin-left: 120px;
}

.company h4 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.company p {
  text-transform: capitalize;
  font-size: 1.8rem;
  color: #676767;
  margin-top: 25px;
  cursor: pointer;
}

.services {
  width: 14%;
  height: auto;
  /* border: 1px solid red; */
  margin-left: 120px;
}

.services h4 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.services p {
  text-transform: capitalize;
  font-size: 1.8rem;
  color: #676767;
  margin-top: 25px;
  cursor: pointer;
}

.touch {
  width: 22%;
  height: auto;
  /* border: 1px solid red; */
  margin-left: 120px;
}

.touch h4 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.touch p {
  font-size: 1.8rem;
  color: #676767;
  margin-top: 25px;
  line-height: 27px;
  cursor: pointer;
}

.company p:hover {
  color: black;
}

.services p:hover {
  color: black;
}

.touch p:hover {
  color: black;
}

.footer_end {
  margin: 100px 110px;
  width: 85%;
  display: flex;
  /* border: 1px solid red; */
}

.end_left p {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #676767;
}

.end_right {
  display: flex;
  margin-left: 725px;
}

.end_right p {
  margin-left: 20px;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #676767;
  cursor: pointer;
}

.end_right p:hover {
  color: black;
}

.footer_end::before {
  content: "";
  position: absolute;
  top: 4300px;
  width: 85%;
  height: 5px;
  border-bottom: 2px solid #8c8c8c;
  opacity: 0.1;
}
